.inputField {
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
body{
  background-color: silver;
}
h1{
  text-align: center;
  color:rgb(219, 9, 107);
}
h2,h3,h4,h5,h6 {
  color: #e200c4;
  text-decoration: underline;
}
TODO ->>>>table{
  asda
}
